# Python virtual environment
virenv/

# Python cache and compiled files
__pycache__/
*.pyc

# Instance folder (e.g., for Flask)
instance/

# Environment variables
.env

# User uploaded files
uploads/

# macOS specific files
.DS_Store
